@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: black url('../imagens/fundo.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}

main {
    background-color: white;
    padding: 10px;
    height: 600px;
    width: 480px;
    border-radius: 10px;
    margin: auto;
}

p {
    margin-bottom: 10px;
}